p {
    
    font-family: 'Redressed', cursive;
    color: black;
    
}

h1{
    font-weight: bold;
    font-size: 60px;
    color:white;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
}

.fondo{
    background-color: #474b4e;
}

.footer{
    color: white;
}

/**  fondo de serie**/

.serie{
    
}


.pagina_uno{
    font-weight: bold;
    color: blanchedalmond;
}
.parrafo_uno{
    font-style: italic;
    color: green;
}
.parrafo_dos{
    font-weight: bold;
    font-style: italic;
    color: greenyellow;
}

.altura{
    height:400px;
    overflow-y: scroll;
    background-color: white;
}

.pelicula{
    color:blue;
}